---
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import pages from "@data/services.json";

export async function getStaticPaths() {
  return pages.map(({ slug, title }) => {
    return {
      params: { slug },
      props: { title: title.toUpperCase(), slug },
    };
  });
}

const { title, slug } = Astro.props;

const otherServices = pages
  .filter((page) => page.slug !== slug)
  .map((item) => ({
    ...item,
    href: `/services/${item.slug}/`,
  }));

type Crumb = {
  title: string;
  href?: string;
};

const breadcrumbs: Crumb[] = [
  {
    title: "Главная",
    href: "/",
  },
  {
    title: "Услуги",
    href: "/services/",
  },
  {
    title: title,
  },
];
---

<Layout title={title}>
  <section class="section">
    <h2 class="title">{title}</h2>
    <div class="page">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <div class="page-content"></div>
    </div>
  </section>

  <section class="section">
    <h2 class="title">Другие услуги</h2>
    <List list={otherServices} />
  </section>
</Layout>
