---
import List from "@components/List.astro";
import Filter from "@components/Filter.astro";

import fetchApi from "@lib/strapi";
import type Service from "@interfaces/service";

import getProjects from "@data/getProjects";
const projects = await getProjects();

const count = projects.length;

const services = await fetchApi<Service[]>({
  endpoint: "services",
  wrappedByKey: "data",
  query: {
    "fields[0]": "title",
    "fields[1]": "slug",
    "populate[projects][fields][0]": "title",
    "populate[projects][fields][1]": 'slug',
  },
});

const filters = services.map((item: Service) => ({
  id: item.id,
  title: item.attributes.title,
  count: Number(item.attributes.projects.data.length),
  projects: item.attributes.projects.data.map((item) => ({
    id: item.id,
    title: item.attributes.title,
    href: `/projects/${item.attributes.slug}/`,
  }))
}));

---

<script>
  class AstroFilterList extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("astro-filter-list", AstroFilterList);
</script>

<h2 class="title">ПРОЕКТЫ / <span id="count">{count}</span></h2>

<astro-filter-list>
  <Filter filters={filters} />

  <div class="filter-list-all">
    <List list={projects} />
  </div>

  {
    filters.map((item) => (
      <div class="filter-list" data-filter-id={item.id}>
        <List list={item.projects} />
      </div>
    ))
  }
</astro-filter-list>

<style>
  .filter-list {
    display: none;
  }
</style>
