---
import Layout from "@layouts/Layout.astro";
import Widget from "@components/Widget.astro";
import Vacancies from "@components/blocks/Vacancies.astro";
import Team from "@components/Team.astro";
import SimpleList from "@components/SimpleList.astro";
import Cards from "@components/Cards.astro";
import Modal from "@components/Modal.astro";
import Form from "@components/forms/FormVacancy.astro";
import Form2 from "@components/forms/FormVacancyOther.astro";

import getVacancies from "@data/getVacancies";
const vacancies = await getVacancies();

type cardWidget = {
  title: string;
  text: string;
};

const cardsForWidget: cardWidget[] = [
  {
    title: "Топ–10",
    text: "Входим в Топ–10 <br> работодателей Пермского края <br> по версии портала 59.ru",
  },
  {
    title: "40+",
    text: "Более 40 <br> сотрудников выросли <br> до руководителей",
  },
  {
    title: "75+",
    text: "Более 75 <br> сотрудников продолжили <br> карьеру в крупных компаниях",
  },
];

type cardForTeam = {
  name: string;
  position: string;
  imagePath: string;
};

const team: cardForTeam[] = [
  {
    name: "Светлана Пермякова",
    position: "Решаю трудовые вопросы",
    imagePath: "/src/assets/team/random.jpg",
  },
  {
    name: "Рамиль Яруллин",
    position: "Составляю маршрут до проекта",
    imagePath: "/src/assets/team/random2.jpg",
  },
  {
    name: "Татьяна Спиридонова",
    position: "Подбираю подходящие проекты",
    imagePath: "/src/assets/team/random3.jpg",
  },
  {
    name: "Светлана Власова",
    position: "Помогаю при трудоустройстве",
    imagePath: "/src/assets/team/random.jpg",
  },
  {
    name: "Наталья Боталова",
    position: "Направляю в пути до проекта",
    imagePath: "/src/assets/team/random3.jpg",
  },
];

type ListItem = {
  title: string;
  text: string;
};

const list: ListItem[] = [
  {
    title: "Профессионально развиваем <br> специалистов",
    text: "Предлагаем различные программы обучения, как внутри компании, так и за ее пределами. Наши специалисты регулярно проходят курсы повышения квалификации, улучшая свои навыки и знания в сфере строительства.",
  },
  {
    title: "Предоставляем возможности <br> для карьерного роста",
    text: "Более 50 сотрудников нашей компании заняли должности начальников ПТО и руководителей отделов ПТО в Российских и международных строительных компаниях.",
  },
  {
    title: "Привлекаем к сотрудничеству <br> выпускников ВУЗов",
    text: "Предоставляем выпускникам ВУЗов возможность применить свои знания на практике и расти профессионально. Гарантируем достойную заработную плату, комфортные условия работы и карьерный рост.",
  },
  {
    title: "вносим вклад в социальное <br> благополучие",
    text: "Активно участвуем в благотворительных проектах, помогая детям-сиротам, малоимущим семьям и ветеранам. Мы считаем, что помощь тем, кто в ней нуждается, является неотъемлемой частью нашей социальной ответственности.",
  },
];

type linkItem = {
  link?: string;
  href?: string;
  classLink?: string;
  blank?: boolean;
};

type card = {
  classList?: string;
  title?: string;
  caption?: string;
  imagePath?: string;
  altText?: string;
  links?: Array<linkItem>;
};

const cards1: card[] = [
  {
    classList: "card--white",
    title: "SuperJob",
    caption: "Привлекательный работодатель <br> по версии портала SuperJob",
    links: [
      {
        link: "2019",
        href: "/pdf/2019.pdf",
        blank: true,
      },
      {
        link: "2020",
        href: "/pdf/2020.pdf",
        blank: true,
      },
      {
        link: "2021",
        href: "/pdf/2021.pdf",
        blank: true,
      },
      {
        link: "2022",
        href: "/pdf/2022.pdf",
        blank: true,
      },
    ],
  },
  {
    classList: "card--black",
    title: "59.ru",
    caption: "топ–10 лучших работодателей <br> по версии портала 59.ru",
    links: [
      {
        link: "2023",
        href: "/pdf/Топ–10%20лучших%20работодателей%20Пермского%20края.pdf",
        blank: true,
      },
    ],
  },
];
---

<Layout title="КАРЬЕРА">
  <Widget
    title="Карьера"
    subtitle="Приглашаем в команду <br> специалистов, готовых расти <br> и вносить вклад в развитие <br> строительной отрасли"
    imagePath="/src/assets/images/cover2.jpg"
    altText="Картинка для баннера"
    link="Заполнить анкету"
    modalId={2}
    cards={cardsForWidget}
  />

  <Vacancies title="сейчас в поиске" data={vacancies} />

  <Team title="Команда <br> отдела кадров" cards={team} />

  <section class="section">
    <h2 class="title">наши Ценности</h2>
    <SimpleList list={list} />
  </section>

  <Cards cards={cards1} />
</Layout>

<Modal id={2}>
  <Fragment slot="title">
    Заполните анкету и мы свяжемся с вами в течение рабочего дня
  </Fragment>
  <Fragment slot="content"><Form /></Fragment>
</Modal>

<Modal id={3}>
  <Fragment slot="title">
    Заполните анкету и мы свяжемся с вами в течение рабочего дня
  </Fragment>
  <Fragment slot="content"><Form2 /></Fragment>
</Modal>
