---
import Layout from "@layouts/Layout.astro";
import NewLayout from "@layouts/NewLayout.astro";
import List from "@components/List.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";

import fetchApi from "@lib/strapi";
import type New from "@interfaces/new";

import getNews from "@data/getNews";

import replaceQuotes from "@utils/replaceQuotes";

export async function getStaticPaths() {
  const news = await fetchApi<New[]>({
    endpoint: "news",
    wrappedByKey: "data",
    query: {
      "populate[0]": "blocks",
    },
  });

  return news.map((item: New) => ({
    params: { slug: item.attributes.slug },
    props: item,
  }));
}

type Props = New;

const service = Astro.props;

const { slug } = service.attributes;

const title = replaceQuotes(service.attributes.title);

const pages = await getNews();
const otherServices = pages.filter((page) => page.slug !== slug);

type Crumb = {
  title: string;
  href?: string;
};

const breadcrumbs: Crumb[] = [
  {
    title: "Главная",
    href: "/",
  },
  {
    title: "Журнал",
    href: "/news/",
  },
  {
    title: title,
  },
];

---

<Layout title={title}>
  <section class="section">
    <h1 class="title">{title}</h1>
    <div class="page">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <NewLayout newObject={service} />
    </div>
  </section>

  <section class="section">
    <h2 class="title">Другие новости</h2>
    <List list={otherServices} />
  </section>
</Layout>
