---
interface Props {
  title: string;
  cards: Array<Card>;
}

interface Card {
  title: string;
  caption: string;
  imagePath: string;
  altText: string;
}

const { title, cards } = Astro.props;

import type { ImageMetadata } from "astro";
import { Picture } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}",
);
---

<script>
  import ScrollBooster from 'scrollbooster';

  new ScrollBooster({
    viewport: document.querySelector('.viewport2-mobile'),
    content: document.querySelector('.cards-wms'),
    scrollMode: 'transform', // use CSS 'transform' property
    direction: 'horizontal', // allow only horizontal scrolling
  });
</script>

<section class="cards-wms-section section">
  <h2 set:html={title} class="cards-wms-title title" />

  <div class="viewport2-mobile">
    <div class="cards-wms">
      {
        cards.map((card: Card) => (
          <div class="card-wms">
            <div class="card-wms-text">
              <div class="card-wms-title">{card.title}</div>
              <div class="card-wms-caption">{card.caption}</div>
            </div>
  
            {card.imagePath && (
              <div class="card-wms-img">
                <Picture
                  src={images[card.imagePath]()}
                  formats={["jpeg", "webp"]}
                  alt={card.altText}
                />
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>

  <div class="viewport2-desctop">
    <div class="cards-wms">
      {
        cards.map((card: Card) => (
          <div class="card-wms">
            <div class="card-wms-text">
              <div class="card-wms-title">{card.title}</div>
              <div class="card-wms-caption">{card.caption}</div>
            </div>
  
            {card.imagePath && (
              <div class="card-wms-img">
                <Picture
                  src={images[card.imagePath]()}
                  formats={["jpeg", "webp"]}
                  alt={card.altText}
                />
              </div>
            )}
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .viewport2-mobile {
    overflow: hidden;
    border-right: 16px solid transparent;
    cursor: grab;
  }

  .viewport2-desctop {
    display: none;
  }

  .cards-wms-section {
    display: flex;
    padding: 48px 0;
  }

  .cards-wms-title {
    padding: 0 16px;
  }

  .cards-wms {
    position: relative;
    display: flex;
    padding: 0 16px;
  }

  /* .cards-wms::-webkit-scrollbar {
    display: none;
  } */

  .cards-wms:before {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    width: calc(100% - 32px);
    min-width: 592px;
    height: 1px;
    background-color: #161619;
  }

  .cards-wms:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
    background-color: #161619;
    min-width: 592px;
  }

  .card-wms {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    width: 296px;
    min-height: 400px;
  }

  .card-wms:first-child  {
    padding-left: 0;
  }

  .card-wms:last-child  {
    padding-right: 0;
  } 

  .card-wms:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #161619;
  }

  .card-wms-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .card-wms-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }

  .card-wms-caption {
    font-family: "Roboto Mono";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.7px;
    text-transform: none;
  }

  .card-wms-img {
    height: 160px;
  }

  .card-wms-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }

  @media screen and (min-width: 629px) {
    .viewport2-mobile {
      display: none;
    }

    .viewport2-desctop {
      display: block;
    }

    .card-wms:first-child {
      width: calc((100% - 16px) / 2);
    }

    .card-wms:last-child {
      width: calc((100% - 16px) / 2 + 16px);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-wms-img {
      text-align: right;
    }

    .card-wms-img img {
      width: calc(50% - 16px);
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1140px) {
    .card-wms-img {
      height: 240px;
    }
  }

  @media screen and (min-width: 1141px) {
    .card-wms-img {
      height: 240px;
      text-align: right;
    }

    .card-wms-img img {
      width: calc(50% - 16px);
    }
  }

  @media screen and (min-width: 1025px) {
    .cards-wms-section {
      padding: 96px 0;
    }

    .cards-wms-title {
      padding: 0 32px;
    }

    .cards-wms {
      position: relative;
      display: flex;
      padding: 0 32px;
    }

    .cards-wms:before {
      content: "";
      position: absolute;
      top: 0;
      left: 32px;
      width: calc(100% - 64px);
      height: 1px;
      background-color: #161619;
    }

    .cards-wms:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 32px;
      width: calc(100% - 64px);
      height: 1px;
      background-color: #161619;
    }

    .card-wms {
      min-height: 560px;
    }

    .card-wms-text {
      max-width: 452px;
    }

    .card-wms-title {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.06em;
    }

    .card-wms-caption {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.8px;
    }
  }

  @media screen and (min-width: 1921px) {
    .cards-wms-section {
      padding: 12vh 0;
    }

    .card-wms {
      width: 50%;
      min-height: 70vh;
      padding: 2vh;
    }

    .card-wms:first-child {
      width: calc((100% - 2vh) / 2);
      padding-left: 0;
    }

    .card-wms:last-child {
      width: calc((100% - 2vh) / 2 + 2vh);
      padding-right: 0;
    }

    .card-wms-text {
      max-width: calc(50% - 2vh);
      gap: 1vh;
    }

    .card-wms-title {
      font-size: 3vh;
      line-height: 4vh;
    }

    .card-wms-caption {
      font-size: 2vh;
      line-height: 3vh;
      letter-spacing: -0.06vh;
    }

    .card-wms-img {
      height: 30vh;
    }

    .card-wms-img img {
      width: calc(50% - 2vh);
    }
  }
</style>
