---
import { languages } from '@i18n/ui';
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

const {pathname} = Astro.url;
const path = pathname.split("/");

const switchLang = lang === "ru" ? "en" : "ru";

let href = lang === "ru" ? `/en${pathname}` : pathname.slice(4);

if (path.length > 2) {
  href = lang === "ru" ? `/en/${path[1]}` : `/${path[2]}`;
}


const { class: className } = Astro.props;
---
<a class="link" class:list={className} href={href}>{languages[switchLang]}</a>

<!-- <style>
  .link {
    padding-top: 0;
    padding-bottom: 0;
    height: 24px;
  }

  .menu-link {
    padding: 16px 0;
    height: 56px;
  }

  @media screen and (min-width: 1024px) {
    .link {
      padding-top: 16px;
      height: 40px;
    }
  }

  @media screen and (min-width: 1921px) {
    .link {
      padding-top: 2vh;
      height: 5vh;
    }
  }
</style> -->
