---
import { languages } from '@i18n/ui';
import { getLangFromUrl } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);

const {pathname} = Astro.url;
const path = pathname.split("/");

const switchLang = lang === "ru" ? "en" : "ru";

let href = lang === "ru" ? `/en${pathname}` : pathname.slice(4);

if (path.length > 2) {
  href = lang === "ru" ? `/en/${path[1]}` : `/${path[2]}`;
}


const { class: className } = Astro.props;
---
<a class="link" class:list={className} href={href}>{languages[switchLang]}</a>
