---
interface Props {
  id?: number;
}

const { id = 1 } = Astro.props;

import useTranslations from "@i18n/translation";
import { getLangFromUrl } from "@i18n/utils";

const ui = {
  en: {
    "button.text": "Close",
  },
  ru: {
    "button.text": "Закрыть",
  },
} as const;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, ui);
---

<script>
  class AstroModal extends HTMLElement {
    constructor() {
      super();

      const hideScroll = (): void => {
        document.documentElement.style.setProperty("overflow-y", "hidden");
      };

      const showScroll = (): void => {
        document.documentElement.style.setProperty("overflow-y", "auto");
      };

      const modal: HTMLElement | null = this.querySelector(".modal");
      const overlay: HTMLElement | null = this.querySelector(".modal-overlay");
      const content: HTMLElement | null = this.querySelector(
        ".modal-content-wrapper",
      );

      const btnOpen: NodeListOf<Element> =
        document.querySelectorAll(".show-modal");
      const btnClose: HTMLElement | null = this.querySelector(".modal-close");

      const fadeIn = (
        el: HTMLElement,
        timeout: number = 150,
        display: string = "block",
      ): void => {
        el.style.opacity = "0";
        el.style.display = display;
        el.style.transition = `opacity ${timeout}ms`;
        setTimeout(() => {
          el.style.opacity = "1";
        }, 10);
      };

      const fadeOut = (el: HTMLElement, timeout: number = 1000) => {
        el.style.opacity = "1";
        el.style.transition = `opacity ${timeout}ms`;
        el.style.opacity = "0";

        setTimeout(() => {
          el.style.display = "none";
        }, timeout);
      };

      const slideUp = (
        el: HTMLElement,
        timeout: number = 1000,
        display: string = "block",
      ): void => {
        el.style.top = "100vh";
        el.style.display = display;
        el.style.transition = `top ${timeout}ms`;
        setTimeout(() => {
          el.style.top = "0";
        }, 10);
      };

      const slideDown = (el: HTMLElement, timeout: number = 1000) => {
        el.style.top = "0";
        el.style.transition = `top ${timeout}ms`;
        el.style.top = "100vh";

        setTimeout(() => {
          el.style.display = "none";
        }, timeout);
      };

      const openModal = (id: number): void => {
        if (id === Number(modal?.id)) {
          modal?.classList.add("modal--open");
          fadeIn(overlay);
          slideUp(content);
        }
      };

      const resetModalContent = (): void => {
        const title: HTMLElement | null = modal.querySelector(".modal-title");
        const content: HTMLElement | null =
          modal.querySelector(".modal-content");
        title.style.display = "block";
        content.style.display = "block";

        const text: HTMLElement | null = modal.querySelector(".order-text");
        text?.remove();
      };

      const closeModal = (): void => {
        fadeOut(overlay);
        slideDown(content);
        setTimeout(() => {
          modal?.classList.remove("modal--open");
          resetModalContent();
        }, 1000);
      };

      btnOpen?.forEach((btn: Element) => {
        btn.addEventListener("click", (event: Event) => {
          event.preventDefault();

          const target: HTMLElement = event.target as HTMLElement;
          const id = Number(target.dataset.modalId) || 1;

          openModal(id);
          setTimeout(hideScroll, 1000);
        });
      });

      btnClose?.addEventListener("click", (event: Event) => {
        event.preventDefault();

        closeModal();
        showScroll();
      });
    }
  }

  customElements.define("astro-modal", AstroModal);
</script>

<astro-modal>
  <div id={String(id)} class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content-wrapper">
      <div class="modal-container">
        <div class="modal-header">
          <a class="link modal-close">{t("button.text")}</a>
        </div>
        <div class="modal-body">
          <div class="modal-title"><slot name="title" /></div>
          <div class="modal-content"><slot name="content" /></div>
        </div>
      </div>
    </div>
  </div>
</astro-modal>

<style>
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
  }

  .modal--open {
    display: block;
  }

  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 25, 0.32);
    z-index: 10;
  }

  .modal-content-wrapper {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faf8f8;
    z-index: 20;
    overflow-y: auto;
  }

  .modal-container {
    position: relative;
  }

  .modal-header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf8f8;
    width: 100%;
    padding: 0px 32px;
    z-index: 10;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 48px 16px;
    background-color: #faf8f8;
  }

  .modal-title {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }

  .modal-content {
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    .modal-body {
      gap: 64px;
      padding: 96px 32px;
    }

    .modal-title {
      font-size: 96px;
      line-height: 104px;
      letter-spacing: -7.68px;
      text-transform: uppercase;
    }
  }
</style>
