---
interface Props {
  title: string;
  cards: Array<Card>;
}

interface Card {
  name: string;
  position: string;
  imagePath: string;
}

const { title, cards } = Astro.props;

import TeamCard from "@components/TeamCard.astro";
---

<script>
  import ScrollBooster from 'scrollbooster';

  new ScrollBooster({
    viewport: document.querySelector('.viewport-mobile'),
    content: document.querySelector('.team-cards'),
    scrollMode: 'transform', // use CSS 'transform' property
    direction: 'horizontal', // allow only horizontal scrolling
  });
</script>

<section class="team section">
  <h2 set:html={title} class="team-title title" />

  <div class="viewport-mobile">
    <div class="team-cards">
      {
        cards.map((card: Card) => (
          <TeamCard
            imagePath={card.imagePath}
            name={card.name}
            position={card.position}
          />
        ))
      }
    </div>
  </div>

  <div class="viewport-desctop">
    <div class="team-cards">
      {
        cards.map((card: Card) => (
          <TeamCard
            imagePath={card.imagePath}
            name={card.name}
            position={card.position}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .viewport-mobile {
    overflow: hidden;
    border-right: 16px solid transparent;
    cursor: grab;
  }

  .viewport-desctop {
    display: none;
  }

  .team {
    padding: 48px 0;
  }

  .team-title {
    padding: 0 16px;
  }

  .team-cards {
    display: flex;
    gap: 16px;
    padding: 0 16px;
  }

  @media screen and (min-width: 1025px) {
    .viewport-mobile {
      display: none;
    }

    .viewport-desctop {
      display: block;
    }

    .team {
      padding: 96px 0;
    }

    .team-title {
      padding: 0 32px;
    }

    .team-cards {
      display: flex;
      gap: 32px 16px;
      flex-wrap: wrap;
      overflow-x: hidden;
      padding: 0 32px;
    }
  }

  @media screen and (min-width: 1921px) {
    .team {
      padding: 12vh 0;
    }

    .team-cards {
      gap: 4vh 2vh;
    }
  }
</style>
