---
import Layout from "@layouts/Layout.astro";
import ProjectList from "@components/blocks/Projects.astro";
import List from "@components/List.astro";
import gratitudes from "@data/gratitudes.json";

import fetchApi from "@lib/strapi";
import type Service from "@interfaces/service";
import type Project from "@interfaces/project";

export async function getStaticPaths() {
  const services = await fetchApi<Service[]>({
    endpoint: "services",
    wrappedByKey: "data",
  });

  return services.map((service: Service) => ({
    params: { slug: service.attributes.slug },
    props: service,
  }));
}

type Props = Service;

const service = Astro.props;
const { slug } = service.attributes;

const projects = await fetchApi<Project[]>({
    endpoint: "projects",
    wrappedByKey: "data",
    query: { "fields[0]": "title", "fields[1]": "slug", "filters[services][slug]": slug },
  });

const count = projects.length;

const list = projects.map((item) => ({
    id: item.id,
    title: item.attributes.title,
    href: `/projects/${item.attributes.slug}/`,
    slug: item.attributes.slug,
  }));
---

<Layout title="ПРОЕКТЫ">
  <section class="section">
    <h2 class="title">ПРОЕКТЫ / {count}</h2>
    <ProjectList projects={list} filter={slug} />
  </section>

  <section class="section">
    <h2 class="title">Отзывы <br /> и благодарности</h2>
    <List list={gratitudes} />
  </section>
</Layout>